[Desktop Entry]
Encoding=UTF-8
Type=Application
Name[ca]=Documentació de Orange Pi
Name[de]=Orange Pi-Dokumentation
Name[es]=Documentación de Orange Pi
Name[es_ES]=Documentación de Orange Pi
Name[fi]=Orange Pi ohjeet
Name[fr]=Orange Pi Documentation
Name[fr_BE]=Orange Pi Documentation
Name[gl_ES]=Documentación de Orange Pi
Name[hu]=Orange Pi dokumentáció
Name[it]=Documentazione Orange Pi
Name[ja]=Orange Pi の文書
Name[nb]=Hjelpetekst for Orange Pi
Name[pt]=Documentação Orange Pi
Name[pt_BR]=Documentação do Orange Pi
Name[ru]=Документация по Orange Pi
Name[ru_RU]=Документация по Orange Pi
Name[sl]=Orange Pi dokumentacija
Name[sq]=Dokumentim për Orange Pi
Name[sv]=Orange Pi Dokumentation
Name[tr]=Orange Pi Belgeleri
Name=Orange Pi Documentation
Comment[ca]=Ajuda detallada
Comment[de]=Ausführliche Hilfe
Comment[es]=Ayuda detallada
Comment[es_ES]=Ayuda detallada
Comment[fi]=Yksityiskohtainen apu
Comment[fr]=Aide détaillée
Comment[fr_BE]=Aide détaillée
Comment[gl_ES]=Axuda detallada
Comment[hu]=Részletes súgó
Comment[it]=Aiuto dettagliato
Comment[ja]=詳細ヘルプ
Comment[nb]=Detaljert hjelpetekst
Comment[pt]=Ajuda detalhada
Comment[pt_BR]=O ‘Orange Pi Documentation’ permite consultar a documentação para obter ajuda
Comment[ru]=Подробная справка
Comment[ru_RU]=Подробная справка
Comment[sl]=Podrobna pomoč
Comment[sq]=Ndihmë e hollësishme
Comment[sv]=Detaljerad hjälp
Comment[tr]=Ayrıntılı yardım
Comment=Detailed help
Icon=/usr/share/icons/orangepi/Orange-pi-small-logo.png
Categories=Utility;System;
Exec=exo-open http://www.orangepi.org/orangepiwiki/index.php/Orange_Pi_5#Linux_system_instructions
Terminal=false
NoDisplay=False
